# ============ #
# Class  Files #
# ============ #
bin/

# ============ #
#   Libraries  #
# ============ #
deps/

# ============ #
#    Mapdata   #
# ============ #
data/map/

# ============ #
#    IDE shit  #
# ============ #
nbproject/
.classpath
.project
build.xml
manifest.mf

# ============ #
# Batch scripts#
# ============ #
run.bat